langchain
langchain-community
langchain-google-genai
sentence-transformers
faiss-cpu
transformers
pdfplumber
pandas
numpy
tqdm

langdetect
nltk
scikit-learn

matplotlib
networkx
wordcloud

python-dotenv
